.form {
    &__block {
        display: flex;
        flex-flow: row wrap;
        &_column {
            display: flex;
            flex-flow: column;
        }
    }
    &__cell {
        display: flex;
        flex-direction: column;
        margin: 10px;
        justify-content: center;
        position: relative;
    }
    &__inner {
        position: relative;
        display: flex;
        flex-flow: column;
    }
    &__lable {
        margin-bottom: 1px;
    }
    &__input {
        border-radius: 5px;
        border: none;
        background-color: $color1;
        padding: 5px 15px;
        margin-bottom: 5px;
        &:focus {
            outline-color: $color4;
            outline-style: solid;
            outline-offset: 1px;
            outline-width: 1px;
            background-color: white;
        }
    }
    &__submit {
        width: fit-content; 
        padding: 5px 25px;
        border-radius: 5px;
        border: none;
    }
    &__hints {
        z-index: 1;
        background-color: $color4;
        position: absolute;
        left: 0;
        right: 0;
        top: 36px;
        border-radius: 10px;
        height: fit-content;
        max-height: 300px;
        overflow: auto;
        &-element {
            margin: 10px;
            color: white;
            border-bottom: $color1 1px solid;
            &:hover {
                font-family: Jura700;
                cursor: pointer;
                border-bottom: $color1 1px solid;
            }
        }
    }
    &__link {
        margin: 0;
        font-size: 13px;
        font-family: Jura300;
        width: fit-content;
        height: 39px;
        line-height: 39px;
        vertical-align: bottom;
        // margin-bottom: 5px;
        &:hover {
            cursor: pointer;
            font-family: Jura700;
            color: $color1;
            text-decoration: underline;
        }
    }
}

.form-calculator {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 50px;
    background-color: $color3;
    box-shadow: 0 5px 25px 0 $color2;
    width: fit-content;
    margin: 50px auto;
    margin-top: 10px;

    &__submit {
        width: 200px;
        margin-top: 25px;
        align-self: flex-end;
        background-color: $color2;
        color: $color1;
        box-shadow: 0 5px 15px 0 $color4;
        font-family: Jura500;
        &:hover {
            background-color: $color4;
            color: $color1;
            box-shadow: 0px 1px 15px 0 $color1;
            border: none;
            border-radius: 5px;
            font-family: Jura700;
            letter-spacing: 1px;
        }
    }
}