@font-face {
                font-family: Jura300;
                font-display: swap;
                src: url("../fonts/Jura-Light.woff2") format("woff2"),
                    url("../fonts/Jura-Light.woff") format("woff");
                font-style: normal;
              }
@font-face {
                font-family: Jura400;
                font-display: swap;
                src: url("../fonts/Jura-Regular.woff2") format("woff2"),
                    url("../fonts/Jura-Regular.woff") format("woff");
                font-style: normal;
              }
@font-face {
                font-family: Jura500;
                font-display: swap;
                src: url("../fonts/Jura-Medium.woff2") format("woff2"),
                    url("../fonts/Jura-Medium.woff") format("woff");
                font-style: normal;
              }
@font-face {
                font-family: Jura600;
                font-display: swap;
                src: url("../fonts/Jura-SemiBold.woff2") format("woff2"),
                    url("../fonts/Jura-SemiBold.woff") format("woff");
                font-style: normal;
              }
@font-face {
                font-family: Jura700;
                font-display: swap;
                src: url("../fonts/Jura-Bold.woff2") format("woff2"),
                    url("../fonts/Jura-Bold.woff") format("woff");
                font-style: normal;
              }
