// Шрифты
$fontMain300: Jura300;
$fontMain400: Jura400;
$fontMain500: Jura500;
$fontMain600: Jura600;
$fontMain700: Jura700;

// colors
$color1: #EEF2FB;
$color2: #707d9d;
$color3: #168aad;
$color4: #3d5a80;
