// Шрифты
$fontMain300: Jura300;
$fontMain400: Jura400;
$fontMain500: Jura500;
$fontMain600: Jura600;
$fontMain700: Jura700;

// colors
$color1: #EEF2FB;
$color2: #84A98D;
$color3: #517970;
$color4: #364F53;
